h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  color: #19221d;
}

.table-card {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-card-header {
  background-color: #0ee4c0;
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
}

.table-card-row {
  display: flex;
}

.table-card-cell {
  flex: 1;
  padding: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: 1px solid #ddd;

}

.table-card-body {
  padding: 10px;
  background-color: aliceblue;
}

.table-card-cell:last-child {
  border-right: none;
}
.view-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.view-more-button button {
  background-color: #1dc7ab;
  color: #fff;
  padding: 12px 24px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.view-more-button button:hover {
  background-color: #6cc4b5;
}
