
<div style="overflow-x: auto; margin-left: 30px; margin-right: 30px;">
  <h1>Coconut Market Rates</h1>

  <div class="table-card">
    <div class="table-card-header">
      <div class="table-card-row">
        <div class="table-card-cell">State</div>
        <div class="table-card-cell">District</div>
        <div class="table-card-cell">Market</div>
        <div class="table-card-cell">Commodity</div>
        <div class="table-card-cell">Min Price</div>
        <div class="table-card-cell">Max Price</div>
        <div class="table-card-cell">Modal Price</div>
      </div>
    </div>
    <div class="table-card-body">
      <div class="table-card-row" *ngFor="let price of displayedPrices">
        <div class="table-card-cell">{{price.state}}</div>
        <div class="table-card-cell">{{price.district}}</div>
        <div class="table-card-cell">{{price.market}}</div>
        <div class="table-card-cell">{{price.commodity}}</div>
        <div class="table-card-cell">{{price.min_price}}</div>
        <div class="table-card-cell">{{price.max_price}}</div>
        <div class="table-card-cell">{{price.modal_price}}</div>
      </div>
    </div>
  </div>

  <div class="view-more-button" *ngIf="displayedPrices.length < prices.length">
    <button (click)="loadMore()">View More</button>
  </div>
</div>
