<!--<div >
<img src="./assets/CoconutField.jpg">
</div>-->

<body>
<div class="row">
  <div class="col-md-6">
    <p class="left-text">
      <b>LIVE THE TROPICAL LIFESTYLE WITH US</b><br><br>
     <i> Coconut is at the heart of what we do. It carries the mission of what we feel and try to put forth as a
      company - which is to build an organic, clean and sustainable haven that humbly borrows from mother nature's treasure troves and returns
      it with integrity and respect through earth-friendly packaging and zero wastage practices<br><br>Come celebrate nature with us.</i>
    </p>
  </div>
  <div class="col-md-6">
    <img src="./assets/brand.webp" class="right-image" alt="Right Side Image">
  </div>
</div>
</body>
