
img{
  height: 650px;
  width: 100%;
margin-top: 15px;

}
body {
  overflow: hidden;
  margin-top: 20px;
  background-color: rgb(196, 255, 223);
}

.left-text {
  margin-top: 100px;
  text-align: left;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  margin-left: 30px;

}

.right-image {
  max-width: 100%;
  height: auto;
  margin: 10px;
}
