#navbarText{
  margin-left: 50%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: medium;
  padding: 1%;


}
.navbar-brand{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: large;
  margin-left: 5%;
}
.navbar-inner{
  background-image: url("/assets/bg4.jpg");
   /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
