<div class="bg-image">
  <img src="assets/bg6.jpg">
</div>
<div>
  <h1>Our Favorite New Products</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top"  src="assets/card1.jpg" alt="card image">
        <p class="price">Rs.600</p>
        <h3 class="card-title">Coconut Water</h3>
        <button type="button" class="btn btn-success">Order Now</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top"  src="assets/card2.jpg" alt="card image">
        <p class="price">Rs.500</p>
        <h3 class="card-title">Coconut Oil</h3>
        <button type="button" class="btn btn-success">Order Now</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top" src="assets/card3.jpg" alt="card image">
        <p class="price">Rs.100</p>
        <h3 class="card-title">Coconut Oil</h3>
        <button type="button" class="btn btn-success">Order Now</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top"  src="assets/card4.jpg" alt="card image">
        <p class="price">Rs.400</p>
        <h3 class="card-title">Coconut Water</h3>
        <button type="button" class="btn btn-success">Order Now</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top"  src="assets/card5.jpg" alt="card image">
        <p class="price">Rs.590</p>
        <h3 class="card-title">Coconut Oil</h3>
        <button type="button" class="btn btn-success">Order Now</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top" src="assets/card6.jpg" alt="card image">
        <p class="price">Rs.559</p>
        <h3 class="card-title">Coconut Oil</h3>
        <button type="button" class="btn btn-success">Order Now</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/card4.jpg" alt="Product Image" class="card-img">
    </div>
    <div class="col-md-6">
      <div class="card shadow-hover">
        <div class="card-body">
          <h3 class="card-title">Product Name</h3>
          <p class="card-text">Product Description</p>
          <p class="price">$5.99</p>
          <button type="button" class="btn btn-primary">Button</button>
        </div>
      </div>
    </div>
  </div>
</div>






