<div class="bg-image">
  <img src="assets/bg6.jpg">
</div>
<div>
  <h1>Our Favorite New Products</h1>
</div>
<!--
<div class="row">
  <div class="column" >
    <img src="assets/coco1.jpeg">
  </div>
  <div class="column">
    <img src="assets/coco2.jpg">
  </div>
  <div class="column">
    <img src="assets/coco3.jpg">
  </div>
  <div class="column">
    <img src="assets/coco5.jpg">
  </div>
</div>-->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top"  src="assets/card1.jpg" alt="card image">
        <h3 class="card-title">Coconut Water</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top"  src="assets/card2.jpg" alt="card image">
        <h3 class="card-title">Coconut Oil</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top" src="assets/card3.jpg" alt="card image">
        <h3 class="card-title">Coconut Oil</h3>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top"  src="assets/card4.jpg" alt="card image">
        <h3 class="card-title">Coconut Water</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top"  src="assets/card5.jpg" alt="card image">
        <h3 class="card-title">Coconut Oil</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top" src="assets/card6.jpg" alt="card image">
        <h3 class="card-title">Coconut Oil</h3>

      </div>
    </div>
  </div>
</div>





