<h1>Our Favourite Products</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card shadow-hover">
        <img class="card-img-top" [src]="product.image" alt="card image">
        <div class="card-body">
          <h3 class="card-title">{{ product.name }}</h3>
          <p class="price">Rs.{{ product.price }}</p>
          <button type="button" class="btn btn-success">Order Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
