<div>
  <h1>Our New Coconut Products</h1>
</div>

<div class="container" >
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top"  src="assets/card1.jpg" alt="card image">
       <h3 class="card-title">Coconut Water</h3>
        <p class="price">Rs.600</p>
        <button type="button" class="btn btn-success">Order Now</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top"  src="assets/card2.jpg" alt="card image">
        <h3 class="card-title">Coconut Oil</h3>
        <p class="price">Rs.500</p>
        <button type="button" class="btn btn-success">Order Now</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top" src="assets/card3.jpg" alt="card image">
        <h3 class="card-title">Coconut Oil</h3>
        <p class="price">Rs.100</p>
        <button type="button" class="btn btn-success">Order Now</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top"  src="assets/card4.jpg" alt="card image">
        <h3 class="card-title">Coconut Water</h3>
        <p class="price">Rs.400</p>
        <button type="button" class="btn btn-success">Order Now</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top"  src="assets/card5.jpg" alt="card image">
        <h3 class="card-title">Coconut Goods</h3>
        <p class="price">Rs.590</p>
        <button type="button" class="btn btn-success">Order Now</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-hover">
        <img class="card-img-top" src="assets/card6.jpg" alt="card image">
        <h3 class="card-title">Coconut Goods</h3>
        <p class="price">Rs.559</p>
        <button type="button" class="btn btn-success">Order Now</button>
      </div>
    </div>
  </div>
</div>
